asgiref==3.11.0
certifi==2026.1.4
cffi==2.0.0
cryptography==46.0.3
distlib==0.4.0
Django==6.0.1
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
filelock==3.20.3
mysql-connector-python==9.5.0
packaging==25.0
pillow==12.1.0
pipenv==2026.0.3
platformdirs==4.5.1
pycparser==2.23
PyJWT==2.10.1
PyMySQL==1.1.2
pytz==2025.2
setuptools==80.9.0
sqlparse==0.5.5
tzdata==2025.3
virtualenv==20.36.1
wheel==0.45.1
# Production dependencies for Render
gunicorn==23.0.0
dj-database-url==2.3.0
whitenoise==6.8.2
